
<% if current_admin || current_student || current_teacher %>

  <% if current_student %>
    <% if @attendance_summary.present? %>
      <ul class="list-group">
        <li class="list-group-item list-group-item-action bg-dark text-white d-flex justify-content-between align-items-center fs-4">
          Subjects
          <span class="badge">
            <span class="m-4 p-6 fs-6">
              Present 
            </span>
            <span class="fs-6">
              / 
            </span>
            <span class="m-4 p-6 fs-6">
              Total
            </span>
          </span>
        </li>

        <% @attendance_summary.keys.sort.each do |subject_name| %>
            <% summary = @attendance_summary[subject_name] %>
                <%= link_to attendance_by_subject_path(subject_name.parameterize.capitalize), class: "list-group-item list-group-item-action d-flex justify-content-between align-items-center fs-5" do %>
                  <%= "#{subject_name}" %>
                  <span class="badge text-black fs-8">
                    <span class="m-2 p-4 fs-6"><%= "#{summary[:present]}" %></span> 
                    <span class="fs-6"> / </span> 
                    <span class="m-2 p-4 fs-6"><%= "#{summary[:total]}" %></span>
                  </span>
                <% end %>
        <% end %>
      </ul>
    <% else %>
      <p>No attendance data available.</p>
    <% end %>
  <% end %>

  <% if current_teacher %>
    <div class="d-flex justify-content-between align-items-center">
      <span class="fs-4"><%= current_teacher.subject.subject_name %> attendance details</span>
      <%= link_to  "New Attendance", attendance_new_path, class: "btn btn-primary" %>
    </div>

    <table class="table mt-4 table-striped-columns text-center">
      <thead class="table-dark">
        <tr>
          <th scope="col">Created date</th>
          <th scope="col">last Updated date</th>
          <th scope="col">Update Attendance</th>
        </tr>
      </thead>
      <tbody>
      <% @attendance_details.each do |details| %>
            <tr>
              <td><%= details.created_date %></td>
              <td><%= details.updated_date %></td>
              <td>
                <%= link_to "Edit",attendance_edit_path(date: details.created_date, time: details.created_time ) %>
              </td>
            </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>

  <% if current_admin %>
    <h1>Work in progress..!</h1>
  <% end %>

<% else %>
  <h1 class="mb-4">Hello</h1>
  <h4 class="mb-4">Your Collge attendence app. That nobody needs.</h4>
  <h4 class="mb-4">Log in to your account:</h4>
  <div class="btn-group" role="group" aria-label="Basic example">
      <%= link_to "Student Login", new_student_session_path, class: "btn btn-outline-dark p-4" %>
      <%= link_to "Teacher Login", new_teacher_session_path, class: "btn btn-outline-dark p-4" %>
      <%= link_to "Admin Login", new_admin_session_path, class: "btn btn-outline-dark p-4" %>
  </div>
<% end %>
