
<% if current_admin || current_student || current_teacher %>

  <% if @attendance_summary.present? %>
    <ul class="list-group">
      <li class="list-group-item list-group-item-action list-group-item-info d-flex justify-content-between align-items-center fs-4">
        Subjects
        <span class="badge text-black">
          <span class="m-4 p-6 fs-6">
            Present 
          </span>
          <span class="fs-6">
            / 
          </span>
          <span class="m-4 p-6 fs-6">
            Total
          </span>
        </span>
      </li>

      <% @attendance_summary.keys.sort.each do |subject_name| %>
          <% summary = @attendance_summary[subject_name] %>
            <li class="list-group-item d-flex justify-content-between align-items-center fs-5">
              <%= "#{subject_name}" %>
              <span class="badge text-black fs-8">
                <span class="m-2 p-4 fs-6"><%= "#{summary[:present]}" %></span> <span class="fs-6"> / </span> <span class="m-2 p-4 fs-6"><%= "#{summary[:total]}" %></span>
              </span>
            </li>
      <% end %>
    </ul>
  <% else %>
    <p>No attendance data available.</p>
  <% end %>

<% else %>
  <h1 class="mb-4">Hello</h1>
  <h4 class="mb-4">Your Collge attendence app. That nobody needs.</h4>
  <h4 class="mb-4">Log in to your account:</h4>
  <div class="btn-group" role="group" aria-label="Basic example">
      <%= link_to "Student Login", new_student_session_path, class: "btn btn-outline-dark p-4" %>
      <%= link_to "Teacher Login", new_teacher_session_path, class: "btn btn-outline-dark p-4" %>
      <%= link_to "Admin Login", new_admin_session_path, class: "btn btn-outline-dark p-4" %>
  </div>
<% end %>
